@import "../../var";

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 48px);

    &-content {
        max-width: 633px;
        text-align: center;

        h1 {
            color: $wht;
            font-size: 36px;
            font-weight: 700;
            line-height: 54px;

            span {
                color: $success;
            }
        }

        p {}

        button {}
    }
}